  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .home-container {
    padding: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-container01 {
    flex: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-text {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    text-align: center;
  }
  .home-container02 {
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-container03 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-text01 {
    align-self: flex-start;
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-text02 {
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-text03 {
    align-self: flex-start;
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-container04 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-text04 {
    align-self: flex-start;
  }
  .home-text05 {
    align-self: flex-start;
  }
  .home-text06 {
    align-self: flex-start;
  }
  .home-container05 {
    width: 100%;
    height: 462px;
    display: flex;
    flex-wrap: wrap;
    position:relative;
    align-items: center;
    justify-content: center;
  }
  .home-container06 {
    padding: 40px;
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .traffic-light {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 100px;
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
  }
  .light {
    height: 100px;
    border-radius: 80%;
  }
  .merah1{
    background-color: #d9534f;
    transition: background-color 0.5s;
  }
  .merah1.on{
    background-color: #ff0800;
    transition: background-color 0.5s;
  }
  .hijau1{
    background-color: #528a52;
    transition: background-color 0.5s;
  }
  .hijau1.on{
    background-color: #66ff66;
    transition: background-color 0.5s;
  }
  .merah2{
    background-color: #d9534f;
    transition: background-color 0.5s;
  }
  .merah2.on{
    background-color: #ff0800;
    transition: background-color 0.5s;
  }
  .hijau2{
    background-color: #528a52;
    transition: background-color 0.5s;
  }
  .hijau2.on{
    background-color: #66ff66;
    transition: background-color 0.5s;
  }
  .merah3{
    background-color: #d9534f;
    transition: background-color 0.5s;
  }
  .merah3.on{
    background-color: #ff0800;
    transition: background-color 0.5s;
  }
  .hijau3{
    background-color: #528a52;
    transition: background-color 0.5s;
  }
  .hijau3.on{
    background-color: #66ff66;
    transition: background-color 0.5s;
  }
  .kuning1 {
    background-color: #c8d145;
    transition: background-color 0.5s;
  }
  .kuning1.on {
    background-color: #eeff00;
    transition: background-color 0.5s;
  }
  .kuning2 {
    background-color: #c8d145;
    transition: background-color 0.5s;
  }
  .kuning2.on {
    background-color: #eeff00;
    transition: background-color 0.5s;
  }
  .kuning3 {
    background-color: #c8d145;
    transition: background-color 0.5s;
  }
  .kuning3.on {
    background-color: #eeff00;
    transition: background-color 0.5s;
  }
  .indicator {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: gray;
  }
  .home-text07 {
    margin: var(--dl-space-space-unit);
    padding: var(--dl-space-space-unit);
  }
  .home-text08 {
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
  }
  .home-text09 {
    padding-right: var(--dl-space-space-unit);
  }
  .home-container08 {
    padding: 40px;
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text11 {
    margin: var(--dl-space-space-unit);
    padding: var(--dl-space-space-unit);
  }
  .home-text12 {
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
  }
  .home-text13 {
    padding-right: var(--dl-space-space-unit);
  }
  .home-container09 {
    padding: 40px;
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text15 {
    margin: var(--dl-space-space-unit);
    padding: var(--dl-space-space-unit);
  }
  .home-text16 {
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
  }
  .home-text17 {
    padding-right: var(--dl-space-space-unit);
  }
  